backup:
    number: 0
    foreign: TRUE
update:
    number: 0 
    foreign: FALSE
    urls:
        - 'https://minecraft.net/download'
        - 'https://mojang.com/'
    regex:
        - '#minecraft_server.[0-9a-z.]*.jar#'
storage: 
    common: 0
server:
    number: 0
