backup:
    number: 10
    foreign: TRUE
update:
    number: 10
    foreign: FALSE
    stable: 'https://minecraft.net/download'
    unstable: 'https://mojang.com/'
    regex: '#minecraft_server.[0-9a-z.]*.jar#'
storage: 
    common: 0
server:
    number: 5
