
{block content}

<h1 n:block=title>Nastavení účtu</h1>
{control mcNick}
<span class="icon info">Minecraft nick je používán při udělování operátorských práv a podobně. Takže ho chcete vyplnit správně.</span>
{control userCredentials}