{block content}
{dump}
<h1 n:block=title>Stažení serveru</h1>
{control download}
{/block}
{block scripts}
<script>
    $.nette.ext('dow', {
        complete: function() {
           window.location.href = {link dowComplete! $newServerId};
        }
    });
</script>
{/block}
