
{block content}

<h1 n:block=title>Stav serveru</h1>
{if $running}
    Server is running<br>
{else}
    Server is down<br>
{/if}
<textarea style="width: 700px; height: 632px;">
{foreach $logs as $line}{$line}{/foreach}
</textarea>